<div class="set-position align-center" >
  <md-card>
    <md-card-content>
      <md-input placeholder="Username" align="start" class="set-input-width padding-17" required>
        <span md-prefix><md-icon class="material-icons gray">person</md-icon></span>
      </md-input>
      <md-input placeholder="Username" align="start" class="set-input-width padding-17" required>
        <span md-prefix><md-icon class="material-icons gray">email</md-icon></span>
      </md-input>
      <md-input placeholder="Username" align="start" class="set-input-width padding-17" required>
        <span md-prefix><md-icon class="material-icons gray">lock</md-icon></span>
      </md-input>
      <md-input placeholder="Username" align="start" class="set-input-width padding-17" required>
        <span md-prefix><md-icon class="material-icons gray">phone</md-icon></span>
      </md-input>
      <md-input placeholder="Username" align="start" class="set-input-width padding-17" required>
        <span md-prefix><md-icon class="material-icons gray">address</md-icon></span>
      </md-input>
      <md-input placeholder="Username" align="start" class="set-input-width padding-17" required>
        <span md-prefix><md-icon class="material-icons gray">supervisor account</md-icon></span>
      </md-input>
    </md-card-content> 
  </md-card>
</div>
