<md-card *ngFor="let Member of hero" class="detaails" (click)="showPanel(Member)">
  <md-card-header>
  <img md-card-avatar src="https://material.angularjs.org/latest/img/washedout.png">
  <br>  
  <md-card-subtitle>Basic Example of Office</md-card-subtitle>
  <md-card-title>text office</md-card-title>
  </md-card-header>
  <md-card-content>
    <p>Name: </p><md-input type="text" [(ngModel)]="Member.name" class="demo-full-width">
    </md-input>
    <p>Mobile: </p><md-input type="text" [(ngModel)]="Member.mobile" class="demo-full-width"></md-input>
  </md-card-content>
  <md-card-actions>
    <button md-button>Like</button>
    <button md-button (click)="Save(Member)">Save</button>
    <button md-button>Share</button>
  </md-card-actions> 
</md-card>
<md-card *ngIf="SelectedHero">
    <p>Name: </p><md-input type="text" [(ngModel)]="SelectedHero.name" class="demo-full-width">
    </md-input>
    <p>Mobile: </p><md-input type="text" [(ngModel)]="SelectedHero.mobile" class="demo-full-width"></md-input>
</md-card> 


