md-card {
    width: 100%;
    padding: 15px;
    img {
        width: 382px;
        height: 205px;
    }
    md-card-title {
        line-height: 40px;
    }
    md-card-actions {
        margin-bottom: 0px;
        span.count {
            font-size: $fontsize-12x;
            color: $gray-light;
            margin-right: 15px;
        }
    }
    [md-card-avatar] {
        transition: all .2s ease-in-out;
    }
}
[md-card-avatar]:hover {
    transform: scale(1.9);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.idealist md-card {
    padding: 15px;
}