.min-div {
    width: 20%;
    background-color: cornsilk;
    position: fixed;
    height:100%;
    background: transparent;
}
.max-div{
  width: 80%;
  height: $height-100;
  float: right;
}
.div-20 {
  width: 20%;
  background-color: gray;
  position: fixed;
  margin-top: -25px;
  height: 100%;
}