<div>
  <md-card class="admin-user-box">
    <md-card-content>
      <h4 class="make-content-center">Total Users</h4>
      <br>
          <b class="make-content-center">292</b>
    </md-card-content>
    </md-card>
    <md-card class="admin-user-box">  
        <md-card-content>
      <h4 class="make-content-center">Online Users</h4>
      <br>
          <b class="make-content-center">100</b>
    </md-card-content>
    </md-card>
    <md-card class="admin-user-box">
        <md-card-content>
      <h4 class="make-content-center">Total Transaction</h4>
      <br>
          <b class="make-content-center">200</b>
    </md-card-content>
    </md-card>
    <md-card class="admin-user-box">
    <md-card-content>
      <h4 class="make-content-center">Total Cash</h4>
      <br>
          <b class="make-content-center">29200000</b>
    </md-card-content>
  </md-card>  
</div>
 <app-barchart *ngIf="chartData" [data]="chartData"></app-barchart>
 