<!--<md-grid-list cols="3" gutterSize="30px" rowHeight="500px" class="animated fadeIn idealist">
  
  <md-grid-tile *ngFor="let printer of printerObj; let i = index">
    <md-card id="printer_{{i}}">
      <md-card-header>
        <img md-card-avatar src="{{printer.picture}}" md-tooltip={{printer.name}} tooltip-position="below">
        <md-card-title><a href="#">{{printer.name}}</a></md-card-title>
        <span class="example-fill-remaining-space"></span>
        <button md-icon-button md-tooltip="Fullscreen" tooltip-position="below">
    <md-icon class="material-icons gray md-24">fullscreen </md-icon>
      </button>

        <button md-icon-button [md-menu-trigger-for]="menu" md-tooltip="More" tooltip-position="below">
   <md-icon class="material-icons gray md-24">more_vert</md-icon>
</button>

        <md-menu #menu="mdMenu" x-position="before">
          <button md-menu-item disabled> Edit </button>
          <button md-menu-item (click)="deleteIdea(printer)"> Delete </button>
        </md-menu>


      </md-card-header>
      <img md-card-image src="{{printer.picture}}">
      <md-card-content>
        <md-card-title><a href="#">{{printer.title}}</a></md-card-title>
        <p>{{printer.description}}
        </p>

      </md-card-content>
      <md-card-actions>
        <button md-icon-button md-tooltip="Likes" tooltip-position="below">
    <md-icon class="material-icons gray md-24">favorite </md-icon>
      </button><span class="count">{{printer.id}} Likes</span>
        <button md-icon-button md-tooltip="Comments" tooltip-position="below">
    <md-icon class="material-icons gray md-24">comment</md-icon>
      </button><span class="count">{{printer.id}} Comments</span>
      </md-card-actions>
      <div class="share-icon-wrapper" (mouseenter)="toggle(printer)" (mouseleave)="toggle(printer)">
        <span *ngIf="printer.show" class="animated bounceInRight "> 
              <button md-mini-fab class=" facebook">
                <md-icon class="md-18" [svgIcon]="facebook"></md-icon>
              </button>
              <button md-mini-fab class=" twitter">
                <md-icon class="md-18" [svgIcon]="twitter"></md-icon>
              </button>
              <button md-mini-fab class=" googleplus">
                <md-icon class="md-18" [svgIcon]="google-plus" ></md-icon>
             </button>
            </span>

        <button md-mini-fab class="share-icon" (click)="toggle(printer)">
              <md-icon class="md-24">share</md-icon>
            </button>

      </div>
    </md-card>
  </md-grid-tile>

</md-grid-list>

<div class="create-idea animated bounceInUp">
  <a href="" [routerLink]="['/ideas', 'add']">
    <button md-fab color="warn" md-tooltip="Create New Idea" tooltip-position="above">
    <md-icon class="md-24 " >add</md-icon>
</button>
  </a>
</div>-->

 
<div class="div-20">
  <app-dashboard-sidebar></app-dashboard-sidebar>
</div>
<div class="max-div">  
<router-outlet></router-outlet>
</div>