/* backgroung Color variables*/
$base-background-color: #e5e5e5;
$white-background-color: #fff;
$ideator-blue-background-color: #03758e;
$ideator-green-background-color:  #97c11f;
$facebook-background-color: #3b5998;
$twitter-background-color: #00abe3;
$google-pluse-background-color: #d3492c;

/* Font Color Variables  */
$whitetxt: #ffffff;
$gray-light: #9f9f9f;
$ideator-blue-text-color: #03758e;
$ideator-green-text-color:  #97c11f;
/*$grey-color: #666666;*/
/*$blue: #3982ea;*/


/* Font Size variables */
$base-font-size: 14px;
$fontsize-12x: 12px;
$height-100: 100%;
/*$fontsize-15x: 15px;
$fontsize-16x: 16px;
$fontsize-22x: 22px;
$fontsize-24x: 24px;
$fontsize-35x: 35px;
$font-weight-light:300;
$font-weight-regular:400;
$font-weight-bold:600;*/
/*$md-card-title:24px;*/


/* Font Family variables */
$base-font: Roboto, "Helvetica Neue", sans-serif;




/* Breakpoints variables*/
/*$screen-small: new-breakpoint(max-width 49.99em);
$screen-medium: new-breakpoint(min-width 50em);
$screen-large: new-breakpoint(min-width 63em);
$screen-very-large: new-breakpoint(min-width 79em);*/
