<md-toolbar [color]="myColor">
  <span>My Application Title</span>
  <a routerLink="about">About</a>
  <a routerLink="services">Service</a>
</md-toolbar>
<md-tab-group>
  <md-tab>
    <template md-tab-label>
      The <em>best</em> pasta
    </template>
    <h1>Best pasta restaurants</h1>
    <p>...</p>
  </md-tab>
  <md-tab>
    <template md-tab-label>
      <md-icon> The_worst_sushi</md-icon>
    </template>
    <h1>Terrible sushi restaurants</h1>
    <p>...</p>
  </md-tab>
</md-tab-group>

<md-card>
  <md-card-content>
    <router-outlet></router-outlet>
  </md-card-content>
</md-card>  