<md-toolbar color="primary">
  <span>My Application Title</span>
  <a routerLink="about">About</a>
  <a routerLink="services">Service</a>
</md-toolbar>

<md-card>
  <md-card-content>
    <router-outlet></router-outlet>
  </md-card-content>
</md-card>  

<md-card>
  <button md-button>FLAT</button>
  <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
  <button md-raised-button color="primary">PRIMARY RAISED</button>
  <button md-raised-button color="accent">ACCENT RAISED</button>
</md-card>

<md-card>
  <md-checkbox>Unchecked</md-checkbox>
  <md-checkbox [checked]="true">Checked</md-checkbox>
  <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
  <md-checkbox [disabled]="true">Disabled</md-checkbox>
</md-card>

<md-sidenav-layout>
  <md-sidenav align="end" mode="side" opened #sidenav>
    <md-tab-group>
      <md-tab>
        <template md-tab-label>One</template>
        <template md-tab-content>
        </template>
      </md-tab>
      <md-tab>
        <template md-tab-label>Two</template>
        <template md-tab-content>
        </template>
      </md-tab>
    </md-tab-group>
  </md-sidenav>
  <md-grid-list cols="4" rowHeight="200px">
  <md-grid-tile *ngFor="let dog of dogs" [rowspan] = "dog.rows">
    <img src="assets/{{dog.name}}.jpg" alt="{{dog.name}}">
    <md-grid-tile-footer>
      <h3 md-line>{{dog.name}}</h3>
      <md-icon>info</md-icon>
    </md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>
</md-sidenav-layout>



